.navbar {
    min-height: 65px;
    -moz-box-shadow: 0 7px 30px 2px #000;
    -webkit-box-shadow: 0 7px 30px 2px #000;
    box-shadow: 0 7px 30px 2px #000;
}

.navbar .logo {
    margin-left: 10px;
}

.navbar .pull-right {
    margin: 15px;
}
